$body-home-bg:linear-gradient(245deg, #64b5f6, #81c784, #ffeb3b, #ff8a65);
$btnCTA-color:#c35100;
$header-footer-color:#05000C;//#323232b3 #202020
$dark-color-1:#333;
$light-color: #FDFDFD;
$dark-color: #28004d;
$filterIconTextWorld: brightness(1.5);